<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <!--Add required to tell angular that this field is required-->
                    <input #contentField stype="text" class="form-control" id="content-field" required placeholder="Enter a task..." [(ngModel)] = "currentTask.content" name="content">
                </div>
                <!--[disabled] = taskForm.form.invlaid-->
                <!--References ngForm in form element-->
                <!-- If the required field is not set then the form in invalid-->
                <!--This will disable the button-->
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let task of tasks" [task]="task"></app-card>
    </div>
</div>